#footer {
  height: 20px;
  background-color: white;
}

input {
  background: grey;
}

.announcement {
  background-color: #337ab7;
  width: 100%;
  height: 30px;
}

#video {
  width: 100%;
  height: 500px;
  border: none;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.travel_mainDiv {
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
  width: 100%;
  height: 300px;
}

.travel_mainDiv hr {
  width: 100%;
}

.travel_mainDiv h5,
.travel_mainDiv p {
  margin-left: 20px;
}

#achievementsID {
  padding-bottom: 10px;
}

.movie_head {
  font-size: 20px;
  padding: 6px 22px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
}

.movie_head i {
  float: right;
}

.movie_text span {
  color: #ff7700;
}

.environment_li {
  margin-top: 13px;
}

.environment_li h4 {
  border-bottom: 1px solid white;
  padding: 8px;
}

.environment_li img {
  border-radius: 25px;
  height: 250px;
}

.environment_li p {
  margin-top: 10px;
}

.header_entrepreneur {
  line-height: 2;
}

.book {
  cursor: pointer;
}

.book hr {
  margin-bottom: 10px;
}

body {
  background-color: lightskyblue;
  text-align: center;
}
.my_nav_bar {
  position: sticky;
  top: 0;
  z-index: 99999;
}

.announcements {
  background-color: lime;
  margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}

#footer {
  height: 20px;
  background-color: white;
}

input {
  background: grey;
}

#video {
  width: 100%;
  height: 500px;
  border: none;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.travel_mainDiv {
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
  width: 100%;
  height: 300px;
}

.travel_mainDiv hr {
  width: 100%;
}

.travel_mainDiv h5,
.travel_mainDiv p {
  margin-left: 20px;
}

#achievementsID {
  padding-bottom: 10px;
}

.movie_head {
  font-size: 20px;
  padding: 6px 22px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
}

.movie_head i {
  float: right;
}

.movie_text span {
  color: #ff7700;
}

#campus_life {
  padding-top: 40px;
}

#achievements {
  padding-top: 40px;
}

#Home h1 {
  font-size: xx-large;
  font-style: bold;
}

#Home {
  padding-top: 20px;
}

html {
  scroll-behavior: smooth;
}

#aluminiList img {
  height: 250px;
}

.modal-content {
  margin-top: 100px;
}

.img_modal {
  display: inline-block;
}
.p_modal {
  margin-top: 10px;
}
.modal-body {
  text-align: center;
}
